input {
  padding: 8px;
  width: 250px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #1e293b;
  margin: 5px auto;
  padding: 8px;
  width: 300px;
  border-radius: 6px;
}
li button {
  margin-left: 10px;
  padding: 4px 8px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
h3 {
  margin-top: 20px;
}
#searchInput {
  margin: 10px 0;
  padding: 6px;
  width: 100%;
}

